@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: #f6f9fb;
  color: #3b3f49;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  overflow-x: hidden;
  touch-action: manipulation;
}

a {
  color: #f7a29e;
  text-decoration: none;
}

h5 {
  font-size: 1.1rem;
  text-align: center;
}

.main {
  transition: 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27);
  padding: 20px;
  margin: auto;
}

.open {
  margin-left: 300px;
}

.closed {
  margin-left: 60px;
}

.cards-wrapper {
  margin-top: 112px;
  margin-bottom: 72px;
}
.card {
  z-index: 2;
  border-radius: 8px;
  min-width: 200;
  background-color: #fff;
  transition: width 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27),
    height 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27), box-shadow 300ms;
  box-shadow: var(--card-box-shadow);
  opacity: var(--opacity);
  cursor: grab;
}
.card.circle {
  border-radius: 50%;
}

.card:active:hover {
  cursor: grabbing;
}
.card.ghost {
  z-index: 2;
  box-shadow: var(--card-box-shadow-ghost);
}
.wrapper {
  width: 100%;
}
