@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: #fbfbfb;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  touch-action: manipulation;
}

.open {
  margin-left: 180px;
}

.closed {
  margin-left: 60px;
}

/*************/
/*** Cards ***/
.cards-wrapper {
  margin-top: 112px;
  margin-bottom: 72px;
  transition: 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27);
}
.card {
  z-index: 2;
  border-radius: 4px;
  min-width: 200;
  mix-blend-mode: multiply;
  transition: width 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27),
    height 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27), box-shadow 300ms;
  box-shadow: var(--card-box-shadow);
  opacity: var(--opacity);
  cursor: grab;
}
.card.circle {
  border-radius: 50%;
}
/* .card:hover {
  box-shadow: var(--card-box-shadow-hover);
} */
.card:active:hover {
  cursor: grabbing;
}
.card.ghost {
  z-index: 2;
  box-shadow: var(--card-box-shadow-ghost);
}
.wrapper {
  width: 100%;
}
