.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60px;
  list-style-type: none;
  background: #f7a29e;
  overflow: hidden;
  transition: width 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27);
}

.side-menu:hover {
  width: 300px;
}

.side-menu li {
  width: 300px;
}

.side-menu li a {
  display: flex;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  height: 60px;
  line-height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  background: #3b3f49;
  display: flex;
}

.sidebar-icon {
  font-size: 1.2rem;
  margin: 20px;
}
