.widget {
  padding: 10px;
}

.widget-title {
  border-radius: 10px;
}

.widget-title h5 {
  margin-top: 0px;
  margin-left: 15px;
  padding: 10px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.widget-content {
  font-size: 0.9rem;
}
